/* =============================== General styling */

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

*:not(strong) {
    font-weight: 100;
}

:root {
    --lightbeige: #FFFBF0;
    --darkblue: #45676C;
    --turquoise: #7CB8C0;
    --beige: #FFEBAE;
    --midbeige: #F6E8C4;
    --darkpurple: #543787;
    --purple: #7957b5;
    --lightblue: #BAE0E5;
    --lightbluetranslucent: #BAE0E566;
    --navbg: #FFFBF060;
}

@font-face {
    font-family: 'ostrich-sans';
    src: url(fonts/ostrichsans-heavy.otf);
}

@font-face {
    font-family: 'silkflower-regular';
    src: url(fonts/silkflower-regular.otf);
}

@font-face {
    font-family: 'dosis';
    src: url(fonts/dosis-variable.ttf);
}

body {
    font-family: 'dosis';
    color: var(--darkblue);
    margin: 0;
    background-color: var(--lightbeige);
    overflow-x: hidden;
}

p {
    font-size: 1.3rem;
}

h1 {
    visibility: hidden;
}

h2 {
    font-family: 'silkflower-regular';
    font-size: 3rem;
}

img {
    align-self: center;
}

section:not(#hero):not(#intro-quote) {
    padding: 60px;
}

/* =============================== Nav */

nav {
    padding: 15px 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    white-space: nowrap;
    background: var(--navbg);
    backdrop-filter: blur(5px);
}

nav .logo {
    width: 60px;
}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav .logo:hover {
    animation-name: logo-hover;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes logo-hover {
    0% {
        transform: rotate(0deg);
    }
    14.29% {
        transform: rotate(-10deg);
    }
    28.57% {
        transform: rotate(10deg);
    }
    42.86% {
        transform: rotate(-10deg);
    }
    57.14% {
        transform: rotate(10deg);
    }
    71.43% {
        transform: rotate(-10deg);
    }
    85.71% {
        transform: rotate(10deg);
    }
    100% {
        transform: 0deg;
    }
}

nav ul {
    display: flex;
    list-style: none;
    transition: all 0s !important;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--darkblue);
    font-family: 'ostrich-sans';
    display: grid;
    place-items: center;
    font-size: 1.1rem;
    transition: all 0.2s;
    cursor: pointer !important;
}

nav li span {
    transform: translateY(2px);
}

nav .tiltleft:hover {
    background-color: var(--turquoise);
    color: var(--beige);
    transform: scale(1.1) rotate(-1deg);
    text-shadow: 2px 2px 0px var(--darkblue);
}

nav .tiltright:hover {
    background-color: var(--turquoise);
    color: var(--beige);
    transform: scale(1.1) rotate(1deg);
    text-shadow: 2px 2px 0px var(--darkblue);
}

#menu-button {
    display: none;
    background: none;
    border: none;
    color: var(--darkblue);
    font-size: 1.5rem;
    cursor: pointer;
}

nav .responsive-btn {
    display: none;
    margin: auto;
}

.responsive-btn.logo-li a {
    padding: 0;
    margin-top: 30px;
}

.responsive-btn.cross button {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--darkblue);
    margin: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

/* =============================== Hero section */

#hero {
    background: linear-gradient(180deg, var(--lightbeige) 0%, var(--midbeige) 100%);
    scroll-margin-top: 200px;
}

.hero-content {
    margin: 90px 60px 0px 60px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    width: 50%;
}

#hero h2 {
    font-size: 1.5rem;
    font-family: 'ostrich-sans';
    color: var(--darkpurple);
}

.name-logo {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.name-logo-centred {
    display: none;
}

#hero .buttons {
    display: flex;
}

#hero button {
    font-family: 'ostrich-sans';
    width: 240px;
    height: 45px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0s;
}

#hero button span {
    display: inline-block;
    transform: translateY(3px);
}

#hero-listen, #hero-view {
    color: var(--beige);
    background-color: var(--darkpurple);
    border: none;
    margin-right: 15px;
    transition: all 0.2s;
}

#hero-listen i, #hero-view i {
    margin-right: 10px;
}

#hero-listen:hover {
    transform: scale(1.1) rotate(-2deg);
}

#hero-view:hover {
    transform: scale(1.1) rotate(2deg);
}

#hero-more {
    color: var(--darkpurple);
    background: none;
    border: solid var(--darkpurple) 3px;
    transition: all 0.2s;
}

#hero-more:hover {
    transform: scale(1.1) rotate(-2deg);
}

.hero-image {
    width: 40%;
    height: auto;
    transform: translateY(-50px);
}

/* =============================== Intro quote (section) */

#intro-quote {
    background-color: var(--turquoise);
    padding: 30px;
}

.quote-container {
    background-color: var(--lightbeige);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 30px;
}

.quote-container img {
    width: 90px;
    margin-right: 30px;
    flex-shrink: 0;
}

#intro-quote .intro-text {
    font-family: 'silkflower-regular';
    color: var(--darkpurple);
    font-size: 2rem;
    width: auto;
}

/* =============================== About Section */

#about {
    display: flex;
    justify-content: space-between;
}

#about img {
    width: 200px;
    align-self: center;
    margin-right: 60px;
}

#about h2{
    color: var(--turquoise);
}

#about p.body-text {
    margin: 30px auto 60px auto;
}

.about-taglines {
    position: relative;
    height: 120px;
}

.about-taglines p {
    padding: 10px 20px;
    position: absolute;
    font-family: 'ostrich-sans';
    font-size: 2rem;
}

.a-t-purple {
    background-color: var(--darkpurple);
    color: var(--beige);
    transform: rotate(-2deg);
    box-shadow: 5px 5px 0px var(--beige);
}

.a-t-blue {
    background-color: var(--lightblue) !important;
    color: var(--darkblue) !important;
    transform: rotate(2deg);
    box-shadow: 5px 5px 0px var(--darkblue);
}

#about p span {
    display: inline-block;
    transform: translateY(4px) !important;
}

.a-t-2 {
    bottom: 0;
    left: 22%;
}

.a-t-3 {
    left: 49%;
}

.a-t-4 {
    right: 0;
    bottom: 0;
}

/* =============================== Meet the hosts section */

#meet-hosts {
    background-color: var(--turquoise);
    padding: 60px;
}

.profile-img-container {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    position: relative;
}

.profile-1 .profile-img-container {
    transform: rotate(-1deg);
}

.profile-1 .profile-img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.profile-img {
    width: 100%;
    top: 0;
    position: absolute;
}

#meet-hosts h2 {
    color: var(--beige);
    margin-bottom: 60px;
}

#meet-hosts h3 {
    position: relative;
    width: fit-content;
}

.ebony-underline, .esther-underline {
    position: absolute;
    right: 0;
    width: 100px;
}

.ebony-underline {
    bottom: -10px;
}

.ebony-stars {
    position: absolute;
    top: 15px;
    right: 30px;
}

.esther-underline {
    bottom: -20px;
}

.esther-arrow {
    position: absolute;
    right: 230px;
    bottom: 15px;
}

.profile-greeting {
    font-family: 'silkflower-regular';
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.profile-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    position: relative;
    z-index: 1;
    padding: 30px;
}

.profile-card-container::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--lightbeige);
    box-shadow: 10px 10px 0px var(--darkpurple);
}

.profile-card-container.profile-1::before {
    transform: rotate(-1deg);
}

.profile-card-container.profile-2::before {
    transform: rotate(1deg);
}

.profile-1 {
    margin-bottom: 60px;
}

.profile-card-background {
    display: none;
}

/* =============================== Episodes section */

#episodes {
    position: relative;
    padding-right: 0 !important;
}

#episodes h2 {
    color: var(--turquoise);
    margin-bottom: 60px;
}

#episodes h2 span {
    color: var(--beige);
    background: var(--darkpurple);
    padding: 5px;
    transform: rotate(-2deg);
    display: inline-block;
}
/*
#episodes h2 span::before {
    content: '';
    width: 110%;
    height: 120%;
    background-color: var(--darkpurple);
    position: absolute;
    left: -5%;
    top: -12%;
    z-index: -1;
    transform: rotate(-2deg);
}
*/
#episodes img.smiley {
    position: absolute;
    top: 60px;
    right: 60px;
}

#episodes img.smiley:hover {
    animation-name: smiley-bounce;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

:root {
    --scale-amount: 1.2;
}

@keyframes smiley-bounce {
    0% {
        transform: scale(1) translateY(0);
    }
    25% {
        transform: scale(var(--scale-amount)) translateY(-15%);
    }
    50% {
        transform: scale(1) translateY(0);
    }
    75% {
        transform: scale(var(--scale-amount)) translateY(-15%);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.episodes-platform-title-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.episodes-slide-right {
    border: none;
    background: none;
    font-size: 1.8rem;
    color: var(--darkblue);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
}

.episodes-slide-right.spotify, .episodes-slide-right.youtube {
    display: none;
}

.episodes-slide-right i:first-child {
    transform: translateX(5px);
}

.episodes-platform-title {
    font-family: 'ostrich-sans';
    font-size: 2rem;
}

.episodes-platform-title i {
    margin-right: 1rem;
}

.spotify-logo {
    color: #1DB954;
}

.youtube-logo {
    color: #FF0000;
}

/* Spotify and youtube episodes */

.spotify-episodes, .youtube-episodes {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.spotify-episodes {
    margin-bottom: 60px;
}

.spotify-episode-listing {
    width: 200px;
    max-width: calc(100% - 30px);
    margin-right: 60px;
    flex-shrink: 0;
}

.youtube-episode-listing {
    width: calc(200px*16/9);
    max-width: calc(100% - 30px);
    margin-right: 60px;
    flex-shrink: 0;
}

.spotify-thumbnail, .youtube-thumbnail {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 0px var(--beige); 
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.spotify-thumbnail {
    aspect-ratio: 1;
}

.youtube-thumbnail {
    aspect-ratio: calc(16/9);
}

.spotify-thumbnail-img, .youtube-thumbnail-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}

.episode-duration {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
    font-size: 1rem;
    color: white;
    bottom: 5px;
    left: 5px;
    padding: 2px;
    border-radius: 5px;
}

.play-icon {
    position: absolute;
    z-index: 3;
    font-size: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--lightbeige);
    display: none;
}

.play-icon-backdrop {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    display: none;
}

.spotify-thumbnail:hover .play-icon, .spotify-thumbnail:hover .play-icon-backdrop, .youtube-thumbnail:hover .play-icon, .youtube-thumbnail:hover .play-icon-backdrop {
    display: block;
}

/* Thumbnails for channel links */

.spotify-channel .spotify-thumbnail, .youtube-channel .youtube-thumbnail {
    box-shadow: none;
}

.spotify-channel .spotify-thumbnail-img, .youtube-channel .youtube-thumbnail-img {
    background: var(--lightbluetranslucent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify-channel .spotify-thumbnail-img p, .youtube-channel .youtube-thumbnail-img p {
    color: var(--darkblue);
    font-family: 'ostrich-sans';
    font-size: 2rem;
    width: 90%;
    text-align: center;
}


/* Episodes text */

#episodes a {
    text-decoration: none;
}

.episode-text {
    max-height: 200px;
    overflow-y: scroll;
}

.episode-number {
    font-family: 'ostrich-sans';
    font-size: 1.1rem;
    color: var(--darkblue) !important;
}

.episode-title {
    font-family: 'ostrich-sans';
    font-size: 1.5rem;
    color: var(--darkpurple) !important;
    margin-bottom: 7px;
}

.episode-description {
    font-size: 1rem;
    color: var(--darkblue) !important;
}

/* =============================== Highlights section */

#highlights {
    background: var(--turquoise);
}

#highlights h2 {
    color: var(--beige);
    margin-bottom: 15px;
}

#highlights h3 {
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.highlights-carousel-container, .socials-carousel {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.highlights-button-container, .socials-button-container {
    display: flex;
    align-items: center;
}

.highlights-carousel-container button, .socials-carousel button {
    align-self: center;
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background: none;
    border: solid var(--lightbeige) 3px;
    color: var(--lightbeige);
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.2s;
}

.highlights-carousel-container button.inactive {
    opacity: 50%;
    cursor: auto;
}

.highlights-carousel-container button.inactive:hover {
    transform: none;
}

.highlights-carousel-container button:hover, .socials-carousel button:hover {
    transform: scale(1.1);
}

.highlights-carousel {
    display: grid;
    gap: 30px;
    overflow-x: scroll;
    grid-template-rows: 100%;
    grid-template-columns: 100% 100% 100%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.highlights-carousel::-webkit-scrollbar {
    display: none;
}

.highlight-item {
    position: relative;
    padding-top: 30px;
    scroll-snap-align: center;
}

.quotation-mark {
    position: absolute;
    top: 0;
}

.highlights-quote {
    font-family: 'silkflower-regular';
    color: var(--lightbeige);
    margin-left: 60px;
    margin-bottom: 30px;
    position: relative;
    font-size: 2rem;
}

.highlights-attribution {
    margin-left: 60px;
    font-family: 'ostrich-sans';
}

.highlight-text {
    width: 100%;
}

.highlight-item:not(.highlight-item-a) .highlight-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* =============================== Merch section */

#merch h2 {
    margin-bottom: 60px;
    color: var(--turquoise);
}

#merch h2 span {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    color: var(--beige);
}

#merch h2 span::before {
    content: '';
    position: absolute;
    width: 125%;
    height: 120%;
    background-color: var(--darkpurple);
    left: -12.5%;
    top: -15%;
    z-index: -1;
    transform: rotate(-2deg);
}

.merch-slider {
    display: flex;
    justify-content: space-between;
}

.merch-placeholder {
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 10px 10px 0 var(--beige);
    margin-bottom: 30px;
}

.merch-category-name {
    font-family: 'ostrich-sans';
}

/* =============================== Socials section */

#socials {
    background-color: var(--turquoise);
}

#socials h2 {
    color: var(--beige);
    margin-bottom: 60px;
}

.socials-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-item-left {
    width: calc(50% - 30px);
}

.socials-item-platform {
    font-size: 1.5rem;
    color: var(--darkpurple);
    font-family: 'ostrich-sans';
}

.socials-item-handle {
    font-size: 2.5rem;
    color: var(--beige);
    font-family: 'ostrich-sans';
    margin-bottom: 30px;
}

.socials-item-description {
    color: var(--lightbeige);
}

.socials-item-right {
    width: 50%;
    position: relative;
    height: 363px;
}

.socials-card {
    position: absolute;
    width: 192px;
    height: 341px;
    border-radius: 5px;
}

.sc-a {
    background-color: rgb(58, 58, 58);
    transform: rotate(-6deg);
    bottom: 10px;
}

.sc-b {
    background-color: rgb(92, 92, 92);
    transform: rotate(-2deg);
    left: calc((100% - 192px) / 3);
    bottom: 17px;
}

.sc-c {
    background-color: grey;
    left: calc((100% - 192px)/3*2);
    bottom: 17px;
    transform: rotate(2deg);
}

.sc-d {
    background-color: rgb(209, 209, 209);
    right: 0;
    bottom: 10px;
    transform: rotate(6deg);
}

/* =============================== Contact section */

#contact {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.emphasis-icon {
    position: absolute;
    bottom: 60px;
    right: 120px;
    width: 80px;
    animation-name: emphasis;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.contact-speaking-saltshaker {
    width: 200px;
    align-self: center;
    margin-right: 60px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact h2{
    color: var(--turquoise);
}

#contact p.body-text {
    margin: 30px auto 60px auto;
}

#contact .contact-addresses {
    display: flex;
    flex-wrap: wrap;
}

.contact-addresses a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'ostrich-sans';
    color: var(--darkpurple);
}

.contact-addresses i {
    margin-right: 15px;
    font-size: 1.5rem;
}

.contact-addresses p {
    transform: translateY(2px);
}

.fa-instagram {
    font-weight: bold;
}

.contact-email {
    margin-right: 60px;
}

@keyframes emphasis {
    0% {
        transform: rotate(12deg);
    }
    100% {
        transform: rotate(372deg);
    }
}

/* =============================== Footer section */

footer {
    background-color: var(--turquoise);
    padding: 60px;
    border-radius: 30px 30px 0 0;
    position: relative;
    color: var(--lightbeige);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

footer img {
    width: 40px;
}

footer img:hover {
    animation-name: logo-hover;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

/* =============================== Responsive design */

@media screen and (max-width: 1300px) {
    .a-t-3 {
        left: 48%
    }
}
@media screen and (max-width: 1250px) {
    .a-t-2 {
        left: 18%;
    }
    .a-t-3 {
        left: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .a-t-2 {
        left: 14%;
    }
    .a-t-3 {
        left: 40%;
    }
    .about-taglines {
        height: 135px;
    }
}

@media screen and (max-width: 1150px) {
    #hero h2 {
        font-size: 1.2rem;
    }
    #hero button {
        font-size: 1.2rem;
        width: 180px;
        height: 36px;
        font-weight:normal !important;
    }
    #hero-listen {
        margin-right: 15px;
    }
    #hero .buttons button span {
        transform: translateY(2px);
    }
    .a-t-2 {
        left: 10%;
    }
}
@media screen and (max-width: 1100px) {
    .about-taglines {
        height: 120px;
    }
    .about-taglines p {
        font-size: 1.5rem;
    }
    .a-t-2 {
        left: 16%;
    }
    .emphasis-icon {
        right: 60px;
    }
}
@media screen and (max-width: 1000px) {
    .body-text {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    nav {
        justify-content: space-between;
        height: 60px;
    }
    nav .logo:not(.responsive-btn .logo) {
        width: 45px;
    }
    nav #menu-button {
        font-size: 1.2rem;
    }
    nav ul {
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        gap: 15px;
        background-color: var(--lightbeige);
        border-radius: 0 0 30px 30px;
        padding-left: 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0);

        position: fixed;
        left: 0;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;

        transition: all 0.4s !important;
    }
    nav ul.active {
        top: 0 !important;
        visibility: visible;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        opacity: 1;
    }
    nav ul li a {
        font-size: 2rem;
    }
    nav ul li a.tiltleft:hover {
        background-color: transparent !important;
        color: inherit;
        transform: none !important;
        text-shadow: none !important;
    }
    nav ul li a.tiltright:hover {
        background-color: transparent !important;
        color: inherit;
        transform: none !important;
        text-shadow: none !important;
    }
    #menu-button {
        display: block;
    }
    nav .responsive-btn {
        display: block;
    }
    #hero {
        margin-top: 0;
    }
    .hero-content {
        padding-bottom: 60px;
        margin-top: 60px;
    }
    #about {
        align-items: top !important;
        padding-bottom: 95px !important;
    }
    #about img {
        align-self: self-start;
    }
    #about .about-right {
        position: relative;
    }
    .about-taglines {
        position: absolute;
        width: calc(100vw - 120px);
        height: fit-content;
        right: 0;
        display: flex;
        justify-content: space-between;
    }
    .about-taglines p {
        position: static;
        width: fit-content;
        height: fit-content;
        flex-grow: 0;
        padding: 8px;
        font-size: 1rem;
    }
    #about p span {
        transform: translateY(1px) !important;
    }
    #meet-hosts p {
        font-size: 1rem;
    }
    #highlights h3 {
        font-size: 1rem;
    }
    p.highlights-quote {
        font-size: 1.5rem;
    }
    #contact p.body-text {
        margin: 45px 0;
    }
    .contact-addresses {
        max-width: calc(100% - 100px);
    }
    .contact-addresses a {
        line-height: 200%;
    }
    .contact-email {
        margin-right: 30px;
    }
    footer p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px) {
    #meet-hosts .profile-card-container {
        align-items:flex-start;
    }
    #meet-hosts .profile-img-container {
        width: 200px;
        height:max-content;
    }
    #meet-hosts .profile-img {
        top: 0;
    }
    .ebony-stars {
        bottom: 30px;
        left: 30px;
        top: auto;
        right: auto;
    }
}

@media screen and (max-width: 800px) {
    .hero-left {
        width: 100%;
    }
    #hero h2 {
        text-align: center;
    }
    .name-logo {
        width: 90%;
        margin-left: 5%;
    }
    .name-logo-left {
        display: none;
    }
    .name-logo-centred {
        display: block;
    }
    .hero-image {
        display: none;
    }
    #hero .buttons {
        justify-content: space-between;
    }
    #hero .buttons button {
        margin-right: 0;
    }
    #intro-quote .quote-container {
        padding: 15px;
    }
    #intro-quote img {
        width: 60px;
        margin-right: 15px;
    }
    #intro-quote .intro-text {
        font-size: 1.5rem;
    }
    #episodes h2 {
        max-width: calc(100% - 150px);
    }
    #highlights .highlights-back {
        transform: translateX(-30px);
    }
    #highlights .highlights-next {
        transform: translateX(30px);
    }
    .highlights-carousel-container {
        gap: 0;
    }
    p.highlights-quote {
        padding-left: 0;
        margin-left: 15px;
    }
    .highlights-attribution {
        margin-left: 15px;
    }
}
@media screen and (max-width: 700px) {
    .buttons {
        flex-direction: column;
        margin: auto;
    }
    #hero button {
        width: 100%;
    }
    #hero button:not(#hero-more) {
        margin-bottom: 10px;
    }
    #about {
        flex-direction: column;
        padding-bottom: 60px !important;
    }
    #about img {
        width: 100px;
        transform: translateY(-30px);
    }
    #about .about-right .body-text {
        margin-bottom: 30px;
    }
    .about-taglines {
        position: static;
        flex-wrap: wrap;
    }
    .about-taglines p {
        width: 45%;
        text-align: center;
    }
    .a-t-3 {
        order: 4;
        margin-top: 15px;
    }
    .a-t-4 {
        margin-top: 15px;
    }
    .profile-card-container {
        flex-direction: column;
    }
    .profile-img-container {
        width: 100% !important;
        height: fit-content;
        margin-bottom: 30px;
    }
    .profile-img {
        height: 250px !important;
        object-fit: cover;
        position: static;
    }
    .ebony-stars {
        right: 30px;
        bottom: 15px;
        left: auto;
        top: auto;
    }
    #contact {
        flex-direction: column;
    }
    .contact-speaking-saltshaker {
        align-self: self-start;
        transform: translateY(-30px);
        width: 100px;
    }
    .emphasis-icon {
        top: 60px;
        right: 60px;
        bottom: auto;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 15px 30px;
    }
    section:not(#hero):not(#intro-quote) {
        padding: 60px 30px;
    }
    .hero-content {
        margin: 60px 30px 0px 30px;
        padding-bottom: 60px;
    }
    .name-logo {
        width: 100%;
        margin-left: 0;
    }
    #intro-quote .quote-container {
        flex-direction: column;
    }
    #intro-quote img {
        margin: 0 0 15px 0;
    }
    .intro-text {
        text-align: center;
    }
    .about-taglines {
        width: 100%;
    }
    .profile-card-container::before {
        transform: none !important;
    }
    .profile-img-container {
        transform: none !important;
    }
    .ebony-stars {
        width: 60px;
        right: 15px;
        bottom: 30px;
    }
    #episodes img.smiley {
        right: 30px;
    }
    .episodes-platform-title {
        max-width: calc(100% - 90px);
    }
    .episodes-slide-right {
        right: 30px;
    }
    .spotify-episode-listing, .youtube-episode-listing {
        margin-right: 30px;
    }
    .highlights-carousel-container {
        gap: 10px;
    }
    #highlights button {
        transform: none !important;
        width: 45px !important;
        height: 45px;
        font-size: 1rem;
        border: solid var(--lightbeige) 2px;
    }
    p.highlights-quote {
        font-size: 1.3rem;
    }
    footer {
        padding: 60px 30px;
        gap: 30px;
    }
}
@media screen and (max-width: 450px) {
    .about-taglines {
        flex-direction: column;
        gap: 20px;
    }
    .about-taglines p {
        width: 100%;
    }
    .a-t-purple {
        transform: rotate(-1deg);
    }
    .a-t-blue {
        transform: rotate(1deg);
    }
    .a-t-3 {
        order: 3;
        margin: auto;
    }
    .a-t-4 {
        order: 4;
        margin: auto;
    }
    p.highlights-quote {
        font-size: 1rem;
    }
}